:root {
    font-family: "Helvetica Neue", "Segoe UI", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
        -apple-system, "Noto Sans Japanese", "Noto Sans CJK JP", "Mieryo", sans-serif;
    --pure-white: #ffffff;
    --primary-color: hsl(0, 0%, 15%);
    --secondary-color: hsl(0, 0%, 20%);
    --tertiary-color: hsl(0, 0%, 10%);
    --accent-color: #ff3e00;
    --text-color: hsl(0, 0%, 90%);
    --background-without-opacity: rgba(255, 255, 255, 0.7);
    --column-width: 42rem;
    --column-margin-top: 4rem;
}

@font-face {
    font-family: "icomoon";
    src: url("/icomoon.ttf") format("truetype"), url("/icomoon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icomoon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0;
    background-color: var(--primary-color);
    position: relative;
}

#svelte {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
}

h1,
h2,
h3,
p,
span,
li {
    font-weight: 400;
    color: var(--text-color);
}

p {
    line-height: 1.5;
}

a {
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

pre {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
    padding: 0.5em;
    overflow-x: auto;
    color: var(--text-color);
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}

@media (min-width: 720px) {
    h1 {
        font-size: 2.4rem;
    }
}
